.master {
  background-image: url('/assets/backgroundImage1.jpg');
  background-size: 100%;
  min-height: 100%;
  background-position: bottom;
}

.homePage {
  height: 100vh;
}

.navBar {
  padding-right: 2em;
}
